.section__upcoming-games {
    padding: 22px 0 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: $BlackRussianLight;
    border-top: 1px solid $BlackRussianDarker;
}