@mixin border-radius($radius){
    border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
   -ms-border-radius: $radius;
}

@mixin transition($transitionProperty){
    transition: $transitionProperty;
   -moz-transition: $transitionProperty;
   -webkit-transition: $transitionProperty;
}

@mixin box-shadow($shadow) {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transformOrigin) {
    -webkit-transform-origin: $transformOrigin;
    -moz-transform-origin: $transformOrigin;
    -o-transform-origin: $transformOrigin;
    -ms-transform-origin: $transformOrigin;
    transform-origin: $transformOrigin;
}

@mixin transform-style($style){
    -webkit-transform-style: $style;
    -moz-transform-stle: $style;
    -ms-transform-style: $style;
    -o-transform-style: $style;
    transform-style: $style;
}