/************************************
 * Color Pallet
 ************************************/

$white: #ffffff;
$SelectiveYellow: #f7b500;
$DodgerBlue: #0091FF;
$DodgerBluDark: #0A84FF;
$BlueViolet: #a335ef;
$StormGrey: #6F747E;
$lavender: #EBEBF5;
$lavenderLighten30: rgba(235, 235, 245, 0.3);
$lavenderLighten40: rgba(235, 235, 245, 0.4);
$lavenderLighten60: rgba(235, 235, 245, 0.6);
$whisper: #E5E5E5;
$periwinkle: #C5D2E3;
$WhiteSmoke: #F2F2F2;
$DarkGray: #A6A6A6;
$Black: #000;
$BlackLighten: #0b0b0c;
$BlackLighten10:#010101;
$BlackLighten80: rgba(0, 0, 0, 0.81);
$BlackRussian: #111113;
$BlackRussianDarker: #111112;
$BlackRussianDarker10: #121214;
$BlackRussianDarker20: #1c1c1e;
$BlackRussianLightLighten: #151517;
$BlackRussianLight: #17171a;
$GunPowder: #4f4f53;
$ViolentViolet: #2e0f53;
$Jaguar: #27272c;
$Periwinkle: #c5d2e3;
$PeriwinkleLighten50: rgba(197, 210, 227, 0.6);
$PersianRed: #e02020;
$SafetyOrange: #fa6400;


/************************************
 * font-families
 ************************************/
$primary-font-family: 'Rubik', sans-serif;

/************************************
 * font-weights
 ************************************/
 $light: 300;
 $regular: 400;
 $medium: 500;
 $bold: 600;


