$heading-type-1-color: $periwinkle;
$heading-type-2-color: $WhiteSmoke;
$heading-type-3-color: $SelectiveYellow;
$heading-type-4-color: $WhiteSmoke;
$heading-type-5-color: $WhiteSmoke;
$heading-type-6-color: $DarkGray;

/************************************
 * Heading type 1 & 2 common styles 
 ************************************/

.heading-type__1,
.heading-type__2 {
    font-size: 20px;
}

/************************************
 * Heading type 1 styles 
 ************************************/

.heading-type__1 {
    line-height: 1.1;
    letter-spacing: -0.32px;
    color: $heading-type-1-color;  
    @extend  %font-weight-regular; 
}

/************************************
 * Heading type 2 styles 
 ************************************/

.heading-type__2 {
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.28px;
    color: $heading-type-2-color; 
}

/************************************
 * Heading type 3 & 4 common styles 
 ************************************/

.heading-type__3,
.heading-type__4 {
    font-size: 36px;
    line-height: 0.67;
    letter-spacing: -0.5px;
    @extend  %font-weight-regular; 
}

/************************************
 * Heading type 3 styles 
 ************************************/

.heading-type__3 { color: $heading-type-3-color; }

/************************************
 * Heading type 4 styles 
 ************************************/

.heading-type__4 { color: $heading-type-4-color; }

/************************************
 * Heading type 5 styles 
 ************************************/

.heading-type__5 {  
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.46px;
    color: $heading-type-5-color; 
    @extend  %font-weight-regular; 
} 

/************************************
 * Heading type 6 styles 
 ************************************/

 .heading-type__6 {
    line-height: 1.33;
    letter-spacing: -0.24px;
    color: $heading-type-6-color;
    @extend %font-size-15px; 
    @extend %font-weight-medium; 
}