.search {
    padding-top: 19px;
    input {
        background-color: $BlackRussian;
    }

    form {
        width: 614px;
        position: relative;
    }

    button {
        position: absolute;
        top: 12px;
        right: 13px;
    }
}