/************************************
 * links common styles 
 ************************************/
.link {
   @extend %g-link;
}

/************************************
 * White color small and large links 
 *************************************/
 .link {
    &__white {
        &--small,
        &--large {
            color: $white;
            @extend %font-weight-medium;

            @extend .link;

            &:hover {
                color: $SelectiveYellow;
            }
        }

        // white color large link
        &--large {
            line-height: 1.33;
            letter-spacing: -0.24px;
            @extend %font-size-15px;
        }

        // white color small link
        &--small {
            line-height: normal;
            letter-spacing: -0.34px;
            @extend %font-size-14px;
        }
    }
}


/************************************
 * Gray variant links color :: storm-grey, lavender and whisper links 
 ************************************/
 .link {
    &__storm-grey,
    &__lavender,
    &__whisper,
    &__darkGray {
        @extend .link;
    }

    &__storm-grey,
    &__lavender {
        @extend %font-size-12px;
        @extend %font-weight-regular;
    }

    &__storm-grey {
        letter-spacing: -0.29px; 
        color: $StormGrey;

        &:hover {
            color: $white;
        }
    }

    &__lavender {
        line-height: 1.33;
        color: $lavenderLighten60; 

        &:hover {
            color: $StormGrey;
        }
    }

    &__whisper {
        line-height: 1.43;
        letter-spacing: -0.22px;
        color: $whisper;
        @extend %font-weight-medium;
        @extend %font-size-14px;

        &:hover {
            color: $SelectiveYellow;
        }
    }

    &__darkGray {
        color: $DarkGray;
        line-height: 1.23;
        letter-spacing: -0.21px;
        @extend %font-weight-regular;
        @extend %font-size-13px;

        &:hover {
            color: $SelectiveYellow;
        }
    }
}

/************************************
 * Blue color :: links  and readmore link
 ************************************/
 .link {
    &__blue,
    &__readmore {
       color: $DodgerBlue;
       @extend %font-weight-regular;
       @extend %font-size-12px;
       @extend .link;
   
       &:hover {
           color: $white; 
       }   
    }
   
    // blue color one
    &__blue {
       line-height: 1.33;
    }
   
    // blue color readmore link 
    &__readmore {
       text-decoration: underline;
       line-height: 1.38;
   }
 }
 


/************************************
 * Links type border buttons
 ************************************/
.link {
    &__border-button {
        &--small,
        &--medium,
        &--large {
           @extend %g-button-border;
           @extend %g-link;
        }

        &--small,
        &--medium {
            line-height: 1.33;
            @extend %font-size-12px;
            @extend %font-weight-medium;
        }

        // small button
        &--small {
            width: 97px;
        }
        
        // medium one
        &--medium {
            width: 133px;
        }

        // large one
        &--large {
            width: 218px;
            line-height: 1.57;
            letter-spacing: -0.22px;
            text-transform: uppercase;
            @extend %font-size-14px;
            @extend %font-weight-regular;
        }
    } 
}


/************************************
 * Links type filled buttons
 ************************************/

 .link {
    &__fill-button {
        width: 166px;
        padding: 10px;
        line-height: 1;
        letter-spacing: -0.4px;
        @extend %font-size-16px;
        @extend %g-button-fill;
        @extend %g-link;
    }
 }