.channel {
    flex-flow: row wrap;
    @extend %display-flex; 
    @extend %block-common;

    .image-card {
        width: 100%;

        &__details  {
            padding-left: 11px;
        }
    }
}