.subscribe {

    form {
        @extend %display-flex;
    }

    .field {
        &__input {
            input {
                width: 440px;
                padding-left: 40px; 
                margin-right: 27px;;
                background-color: $BlackRussian;
                background-position: 18px 13px;
                background-size: 28px 18px;
                @extend %email-image;
            }
        }

        &__button {
            button {
                width: 166px;
            }
        }
    }
}