 /***************************************************************
 * Footer Top Section
 ***************************************************************/

/************************************
 * section and outer container
 ************************************/
 .footer {
    &__top {
        padding: 33px 0 27px;
        background-color: $BlackRussianLightLighten;

        .container {
            align-items: flex-start;
            @extend %flex-equal-space;
        }
    }
 }


/************************************
 * footer links
 ************************************/
@import './FooterLinks/FooterLinks.scss';

/************************************
 * footer install app
 ************************************/
@import './AppInstall/AppInstall.scss';

/************************************
 * footer playstore and apple store icons
 ************************************/
 @import './StoreIcons/StoreIcons.scss';

 
 
 /***************************************************************
 * Footer Bottom Section
 ***************************************************************/

/************************************
 * section and outer container
 ************************************/
 .footer {
    &__bottom {
        padding: 26px 0 38px;
        background-color: $Black;

        .container {
            @extend %flex-equal-space;
            @extend %align-items-center;
        }
    }
 }

/************************************
 * footer copyright
 ************************************/
.footer {
    &__copyright {
        flex-basis: 492px;

        p {
            margin: 0;
        }
    }
 }

/************************************
 * footer cpayment icons
 ************************************/
 @import './PaymentIcons/PaymentIcons.scss';

