/************************************
 * Body and Paragaraph common styles 
 ************************************/
body, 
p {
    font-family: $primary-font-family;
    color: $WhiteSmoke;
    @extend  %font-weight-regular;
    @extend %font-size-13px;
}

.content-type-3,
.content-type-4,
.content-type-5,
.content-type-7 {
    @extend %font-size-12px;
}   

.content-type-1 {
    line-height: 1.38;
    @extend body;
}

.content-type-3,
.content-type-4,
.content-type-5 {
    line-height: 1.33;
}

.content-type-2 {
    line-height: 1.23;
    letter-spacing: -0.21px;
    color: $DarkGray;
    @extend %font-size-13px;
}

.content-type-3 { color: $lavenderLighten30; }

.content-type-4 { color: $lavenderLighten60; }

.content-type-5 {
    font-style: italic;
    letter-spacing: -0.19px;
    color: $periwinkle;
}

.content-type-6 {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: -0.18px;
    color: $DarkGray;
    opacity: 0.5;
}

.content-type-7 {
    letter-spacing: -0.29px;
    color: $StormGrey;
}