.footer {
    &__links {
        width: 479px;
        
       ul {
           @extend %list-style-reset;
       }

       > ul {
       @extend %display-flex;
       @extend %flex-equal-space;
       }
       
       li {
           h4 {
           margin: 0 0 12px;
           }

           li {
           margin: 0 0 14px;

           a {
               opacity: 0.5;
           }
           }
       }

       &--0 {
           width: 117px;
       }

       &--1 {
           width: 157px;
       }

       &--2 {
           width: 172px;
       }
    }
}
