.container {
    max-width: 1043px;
    margin: 0 auto;
    flex-wrap: wrap;
    @extend %display-flex;
    @extend %full-width; 

    &__note {
        padding-top: 30vh;

        h1 {
            width: 100%;
            text-align: center;
        }
    }
}